div{
    margin:  1rem;
}
.navbar{
    justify-content: space-between;
}
span{
    padding-right: 1rem;
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }